*

!*.*

!*/

*.DS_Store
*.nc
*.gif
*.ipynb_checkpoints/
*.png
*.out
*.txt
*.csv
*.mp4
run-output
*.ipynb
!namelist.txt
*.o
*.so
!*CMakeLists.txt
build
include
!data-files/*.csv
*.sublime-workspace
*.dSYM
*.mod
